{% extends './layouts/base.html' %}

{%block content%} 

<div class="portada">    
        <h1> Fundacion Abrazar Tejiendo </h1>
        <h2>TEJEMOS SOLIDARIDAD</h2>
    
        
</div>

  
<div class="pagina1">
    <div class="fondo1">
      <a name="empresa" </a>
        <h3>¿Quiénes somos?</h3>
        <div class="texto1">Nuestra idea de negocio está basada en una empresa capaz de proporcionar la solución tecnológica de telecomunicaciones adecuada, en función de las necesidades de nuestros clientes. Como empresa proveedora de servicios IP avanzados, ofrecerá su propia
          red de telecomunicaciones con acceso a Internet, realizando su instalación y mantenimiento donde sea necesario. Abarcamos todo tipo de redes Networking, pero estamos especializados en comunicaciones inalámbricas que permitan el acceso a Internet
          de banda ancha.</div>
        <div class="texto2">Inicialmente se pretende desplegar el servicio en Tenerife.</div>
        <div class="texto3">Nuestras soluciones abarcan la creación de redes Ethernet para el acceso a Internet, el diseño específico de redes, la instalación y configuración de redes HotSpot.</div>
        <div class="texto4">Innovar en el emergente mundo de las nuevas tecnologías es algo básico para sorprender a la competencia y aportar nuevas ideas que faciliten el acceso a las telecomunicaciones. ¿Qué ofrecemos nosotros que otros no hagan? Principalmente, ofrecemos
          un servicio diferente, una alternativa a las redes de telecomunicaciones para el acceso a Internet que actualmente se ofrecen en Canarias. Además, pretendemos emplear los últimos avances en cuanto a tecnologías de la comunicación, con lo que somos
          una empresa pionera en Canarias.</div>
        <div class="texto5">Debemos estar pendiente de las novedades tecnológicas que aparecen día a día.</div>
    </div>
  </div>
  

{%endblock%}

